.magebit-qty-container {
  display: flex;
  align-items: center;
}
.magebit-in-stock-container {
  margin-left: 10px;
}

.magebit-product-short-description {
  margin-left: 24px;
}

.magebit-full-width {
  width: 100% !important;
}

.magebit-display-flex {
  display: flex;
  align-items: center;
}

.magebit-orange-color {
  background: @color-orange-red1 !important;
}

.magebit-add-to-cart {
  width: 100%;
  background: @color-orange-red1;
  height: 52px;
  opacity: 1;
  color: @color-white;
}

.magebit-qty-input-button {
  width: 52px;
  height: 52px;
  background: none;
}

.magebit-qty-input {
  height: 52px !important;
  width: 86px !important;
  text-align: center;
}

.magebit-upsell-height {
  height: 400px;
}
.magebit-attributes-container {
  background-color: #F9F9F9;
  margin: 20px;
}

.magebit-view-product-link {
  background-color: @color-black_dark;
  color: #FFFFFF;
  width: 109px;
  height: 32px;
  font: normal normal 600 10px/19px Open Sans;
}